<template>
    <v-footer fixed padless>
        <v-card flat tile width="100%" class="secondary text-center">
            <v-card-text>
                <span > Denevy</span>
            </v-card-text>
        </v-card>
    </v-footer>
</template>

<script>
export default {};
</script>
