<template>
<v-app>
    <AppBar></AppBar>
    <v-main>
        <v-container fluid>
            <router-view />
        </v-container>
    </v-main>
    <Footer></Footer>
</v-app>
</template>

<script>
import AppBar from './components/AppBar/AppBar.vue';
import Footer from './components/Footer/Footer.vue';

export default {
    name: 'App',
    components: {
        AppBar,
        Footer,
    },
};
</script>
