<template>
<MainPageForm></MainPageForm>
</template>

<script>
import MainPageForm from '../components/Forms/MainPageForm.vue';

export default {
    name: 'Home',
    components: {
        MainPageForm,
    },
};
</script>
