<template>
<div class="nav">
    <v-app-bar class="secondary" app flat>
        <v-app-bar-nav-icon class="primary" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title class="text-uppercase">
            <span class="primary--text">
                Denevy Vue Test
            </span>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <LanguagePicker></LanguagePicker>
    </v-app-bar>
    <v-navigation-drawer app v-model="drawer" class="secondary">
        <RouteLinksList></RouteLinksList>
    </v-navigation-drawer>
</div>
</template>

<script>
import RouteLinksList from './RouteLinksList.vue';
import LanguagePicker from '../LanguagePicker/LanguagePicker.vue';

export default {
    components: {
        RouteLinksList,
        LanguagePicker,
    },
    data() {
        return {
            drawer: false,
        };
    },
};
</script>
