<template lang="">
<v-list>
    <v-subheader>Denevy</v-subheader>
    <v-list-item-group v-model="selectedItem" color="primary">
        <v-list-item v-for="(item, i) in items" :key="i" router :to="item.route">
            <v-list-item-icon>
                <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
                <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
        </v-list-item>
    </v-list-item-group>
</v-list>
</template>

<script>
export default {
    data() {
        return {
            selectedItem: 1,
        };
    },
    computed: {
        items() {
            return [{
                text: this.homeMsg,
                icon: 'mdi-home',
                route: '/',
            },
            {
                text: this.aboutMsg,
                icon: 'mdi-information',
                route: 'about',
            },
            ];
        },
        homeMsg() {
            return this.$t('message.home') || 'Home';
        },
        aboutMsg() {
            return this.$t('message.about') || 'About';
        },
    },
};
</script>

<style lang="">

</style>
