<template lang="">
<v-container fluid>
    <v-form
        ref="form"
        v-model="valid"
        >
        <v-row>
            <v-col cols="12">
                <v-text-field
                    v-model="user.name"
                    :label="$t('form.name')"
                    required
                    :rules="nameRules"
                    >
                </v-text-field>
            </v-col>

            <v-col cols="12">
                <v-text-field
                    v-model="user.password"
                    type="password"
                    :label="$t('form.password')"
                    required
                    :rules="passwordRules"
                    >
                </v-text-field>
            </v-col>

            <v-col cols="12">
                <v-text-field
                    v-model="user.email"
                    :label="$t('form.email')"
                    required
                    :rules="emailRules"
                    >
                </v-text-field>
            </v-col>

            <v-col cols="12">
                <v-btn class="secondary mr-4" @click="submit">
                    {{ $t('buttons.submit') }}
                </v-btn>
                <v-btn class="error" @click="clear">
                    {{ $t('buttons.clear') }}
                </v-btn>
            </v-col>
        </v-row>
    </v-form>
</v-container>
</template>

<script>
import addUser from '../../api/api';

export default {
    data() {
        return {
            user: {
                name: '',
                password: '',
                email: '',
            },
            valid: true,
            nameRules: [
                (v) => !!v || this.nameValidationText,
                (v) => (v && v.length <= 10) || this.nameValidationLength,
            ],
            passwordRules: [
                (v) => !!v || this.passwordValidationText,
                (v) => (v && v.length <= 32) || this.passwordValidationLength,
            ],
            emailRules: [
                (v) => !!v || this.emailValidationText,
                (v) => /.+@.+\..+/.test(v) || this.emailValidationForm,
            ],
        };
    },
    computed: {
        nameValidationText() {
            return this.$t('form.validationNameText');
        },
        nameValidationLength() {
            return this.$t('form.validationNameLength');
        },
        passwordValidationText() {
            return this.$t('form.validationPasswordText');
        },
        passwordValidationLength() {
            return this.$t('form.validationPasswordLength');
        },
        emailValidationText() {
            return this.$t('form.validationEmailText');
        },
        emailValidationForm() {
            return this.$t('form.validationEmailForm');
        },
    },
    methods: {
        submit() {
            this.$refs.form.validate();
            addUser(this.user).then(() => {
                console.log('added user');
            }).catch((e) => {
                console.log(e);
            });
        },
        clear() {
            this.$refs.form.reset();
        },
    },
};
</script>

<style lang="">
</style>
