<template>
<div>
    <select v-model="$i18n.locale">
        <option v-for="(lang, i) in langs" :key="`lang-${i}`" :value="lang">
            <span class="text--primary">
                {{ lang }}
            </span>
        </option>
    </select>
</div>
</template>

<script>
export default {
    name: 'SwitchLocale',
    data() {
        return {
            langs: ['en', 'cz'],
        };
    },
};
</script>

<style>

</style>
